#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.key_btn {
  background: none;
  border: 3px solid black;
  aspect-ratio: 1/1;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.key_btn:hover:not(:disabled),
.key_btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}